*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body{
    background-color: #DBDBDB;
}

.Container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: 546px;
    height: 188px;
    margin-top: 25rem;
    margin-left: 25rem;
}

.Facebook{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #2694F9;
}

p{
    width: 534px;
    height: 78px;
    font-size: 32px;
    line-height: 39px;
}

#Div-Login{
    gap: 25px;
    flex-direction: column;
    display: inline-flex;
    margin-top: 19rem;
    margin-left: 59rem;
    background: #FFFFFF;
    width: 476px;
    height: 476px;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

Input{
    cursor: pointer;
    width: 432px;
    height: 63px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 2rem;
}

input::placeholder{
    color: #C2C2C2;

}

.Button-Login{
    cursor: pointer;
    width: 432px;
    height: 63px;
    background: #2694F9;
    border-radius: 15px;
    margin-left: 1rem;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.Button-Password:hover{
    opacity: 0.8;
}

.Button-Password:active{
   opacity: 0.5;
}

.Forgot-Password{
    cursor: pointer;
    margin-left: 149px;
    font-weight: 300;
    font-size: 20px;
    color: #2694F9;
}

.Forgot-Password:hover{
    opacity: 0.8;
}

.Forgot-Password:active{
    opacity: 0.5;
}

.Button-Create-Account{
    cursor: pointer;
    width: 280px;
    height: 63px;
    background: #22D134;
    border-radius: 15px;
    border: none;
    color: #FFFFFF;
    margin-left: 100px;
    font-weight: 700;
    font-size: 20px;
}

.Button-Create-Account:hover{
    opacity: 0.8;
}

.Button-Create-Account:active{
    opacity: 0.5;
}

#Create-page{
    margin-top: 2rem;
    margin-left: 62rem;
    font-size: 20px;

}

img{
    width: 39px;
    height: 44px;
    margin-left: 27rem;
}

#eyes-on{
    display:contents;
    border-radius: 50px;
}

#eyes-off{
    display: block;
    border-radius: 50px;
}

@media screen and (max-width : 427px) {
    .Container{
        position: absolute;
        width: 569px;
        height: 208px;
        margin-top: 11rem;
        margin-left: 9rem;
    }
    .Facebook{
        height: 74px;
        font-weight: 700;
        font-size: 52px;
        line-height: 77px;
        color: #2694F9;
        margin-left: 2rem;
    }

    p{
        width: 396px;
        font-size: 30px;
        margin-left: 2rem;
    }

    #Div-Login{
        flex-direction: column;
        display: inline-flex;
        margin-top: 24rem;
        margin-left: 11rem;
        background: #FFFFFF;
        width: 24rem;
        height: 20rem;
        box-shadow: -2px 4px 10px rgb(0 0 0 / 50%);
        border-radius: 15px;
    }

    Input{
        cursor: pointer;
        width: 20rem;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        margin-top: 2rem;
    }

    Input::placeholder{
        font-size: 12px;
    }

    .Button-Login {
        cursor: pointer;
        width: 172px;
        background: #2694F9;
        border-radius: 15px;
        margin-left: 7rem;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 19px;
        line-height: 41px;
    }

    .Forgot-Password {
        cursor: pointer;
        margin-left: 8rem;
        font-weight: 300;
        font-size: 16px;
        color: #2694F9;
    }

    .Button-Create-Account {
        position: absolute;
        width: 14rem;
        height: 3rem;
        cursor: pointer;
        background: #22D134;
        border-radius: 15px;
        border: none;
        margin-left: 6rem;
        margin-top: 16rem;
    }
    #Create-page{
        margin-left: 13rem;
        font-size: 19px;
    }

    #eyes-on{
        border-radius: 50px;
        display: none;
        width: 41px;
        height: 55px;
        margin-left: 21rem;
    }

    #eyes-off{
        border-radius: 50px;
        display: block;
        width: 41px;
        height: 55px;
        margin-left: 21rem;
    }
}